body {
    font-family: Helvetica;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #0056b3;
}
